<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo-300.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Access Comprehensive* Data About NYC Buildings
			</p>
		</div>
		<form class="form-inline" role="form">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail2">Number</label>
		    <input type="search" class="form-control" id="exampleInputEmail2" placeholder="Number" ng-model="search.houseNumber">
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail2">Street</label>
		    <input type="search" class="form-control" id="exampleInputEmail2" placeholder="Street" ng-model="search.street">
		  </div>
		  <select class="form-control" ng-model="search.borough">
		  	<option value="" disabled selected>Borough</option>
		    <option label="Manhattan" value="Manhattan"></option>
		    <option label="Brooklyn" value="Brooklyn">Two</option>
		    <option label="Queens" value="Queens">Five</option>
		    <option label="Bronx" value="Bronx">Three</option>
		    <option label="Staten Island" value="Staten Island">Four</option>
		  </select>
		  <button type="submit" class="btn btn-success" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
		</form>
	</div>

	<div class="row">
		<div class="col-md-3">
			<h2>
				General Data
			</h2>
			<p>Find lots of relevant information thats important, like zoning</p>
		</div>
		<div class="col-md-3">
			<h2>
				311 Complaints
			</h2>
			<p>Access complaints lodged in or around any building</p>
		</div>
		<div class="col-md-3">
			<h2>
				DoB Complaints
			</h2>
			<p>See which agencies have brought complaints against a particular building</p>
		</div>
		<div class="col-md-3">
			<h2>
				Permits
			</h2>
			<p>Find out whats going on</p>
		</div>
	</div>
	<div>
		<h3>About</h3>
		<p>rentvitals.com is NYC building information. Aggregating data across several agencies, this site delivers easy to use, up to date, and relevant information to NYC residents. </p>
	</div>
	
</section>