<section data-ng-controller="BuildingController">
	<img class="bldg-img" src="modules/core/img/brand/logo-300.png">
	<div class="main-address">
	<h2>43 Avenue C, New York NY 10009</h2>
	</div>
	<h2>General Data</h2>
	<div class="container-fluid data-container">
		<div class="col-lg-4">
			<ul>
				<li>some</li>
				<li>good</li>
				<li>data</li>
				<li>here</li>
			</ul>
		</div>
		<div class="col-lg-4">
			<ul>
				<li>some</li>
				<li>good</li>
				<li>data</li>
				<li>here</li>
			</ul>
		</div>
		<div class="col-lg-4">
			<ul>
				<li>some</li>
				<li>good</li>
				<li>data</li>
				<li>here</li>
			</ul>
		</div>
	</div>
	<h2>311 Complaints</h2>
	<div class="container-fluid data-container">
		<div class="table-responsive">
		  <table class="table">
		  	<thead>
			    <tr>
			    	<th>Complaint</th>
			    	<th>Description</th>
			    	<th>Status</th>
			    	<th>Open Date</th>
			    	<th>Close Date</th>
			    	<th>Agency</th>
			    </tr>
		    </thead>
		    <tr>
		    	<td>Rodents</td>
		    	<td>shit everywhere</td>
		    	<td>OPEN</td>
		    	<td>8/12/14</td>
		    	<td>n/a</td>
		    	<td>NYPD</td>
		    </tr>
		  </table>
		</div>
	</div>
	<h2>DoB Complaints</h2>
	<div class="container-fluid data-container">
		<div class="table-responsive">
		  <table class="table">
		  	<thead>
			    <tr>
			    	<th>Complaint Number</th>
			    	<th>Description</th>
			    	<th>Status</th>
			    	<th>Open Date</th>
			    </tr>
		    </thead>
		    <tr>
		    	<td>7777777</td>
		    	<td>shit everywhere</td>
		    	<td>OPEN</td>
		    	<td>8/12/14</td>
		    </tr>
		  </table>
		</div>
	</div>
	<h2>Permits</h2>
	<p>Coming Soon...</p>
</section>